.video-image {
  width: 35%;
  border-radius: 20px;
  padding: 0 10px 0 0;
}

.video-content > a {
  display: flex;
  align-items: center;
  img:hover {
    transform: scale(1.1);
  }
}

.container a {
  @media (max-width: 768px) {
    align-items: center;
  }
}
