@import "../components";
@import "../templates";
@import "../config/global_variables";

.App {
  margin: 0 10%;
}

a {
  color: var(--textNormal);
  font-size: 18px;
}

.flex {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.space {
  justify-content: space-between;
}

.row {
  margin: 0 0 15% 0;
}
