.container.about.about-flex {
  margin: 15% 0;
  display: flex;
  justify-content: space-between;

  .about-title {
    font-size: 54px;
    font-weight: 500;
    line-height: 75px;
  }

  .description {
    text-align: left;
    font-weight: 300;
    line-height: 43px;
    font-size: 20px;
  }

  .left {
    width: 40%;
    text-align: left;
  }

  .right {
    width: 60%;
    max-width: 636px;
  }

  .code {
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 169.49743px;
  }
}
