.App {
  text-align: center;
}

.App-title {
  font-size: 3.5em;
  margin: 0 auto;
  padding-top: 1%;
}

.App-intro {
  font-size: large;
}

.profile-logo {
  height: 50%;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-top: 5%;
  border-radius: 100%;
}
