.App {
  text-align: center;
}

.App-header {
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 600px;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-title {
  font-size: 2.5em;
  margin: 0 auto;
  padding-top: 17%;
}

.App-intro {
  font-size: large;
}
