@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}

h2{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #aaa;
  padding-bottom: 10px;
  border-bottom:1px solid #aaa;
}

a{
  color: rgb(107, 155, 173);
}

.container {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}

#about{
  padding-bottom: 30px;
}

@media (max-width:420px){
  
  .container{
   width: 400px;
  }

  .column-wrapper{
    height: 350px;
    text-align: center;
  }
  
  .Title-description{
    width: 375px;
  }

  p{
    width: 375px;
  }
  

  svg{
    margin: 0;
  }

  .profile-logo{
    width: 50% !important;
  }

  h1{
    text-align: center;
  }

  a{
    margin: 0 auto;
  }
  ul.icons{
    margin-left: 25%;
  }

}

@media (max-width:768px){
  .profile-logo{
    width: 20% !important;
  }
}